Repository Javacord/Javacord, pull requests merged in 2019-06, with the labels that each got.

#478 Fix custom emoji comparison
  javacord-api/src/main/java/org/javacord/api/entity/emoji/Emoji.java
  javacord-core/src/test/groovy/org/javacord/core/entity/emoji/CustomEmojiImplTest.groovy
Labels: medium priority

#481 Add support for resuming the audio websocket
  javacord-core/src/main/java/org/javacord/core/util/gateway/AudioWebSocketAdapter.java
  javacord-core/src/main/java/org/javacord/core/util/gateway/VoiceGatewayOpcode.java
Labels: audio, high priority

#472 Add the ability to move AudioConnections between voice channels
  javacord-api/src/main/java/org/javacord/api/audio/AudioConnection.java
  javacord-api/src/main/java/org/javacord/api/entity/channel/ServerVoiceChannel.java
  javacord-core/src/main/java/org/javacord/core/audio/AudioConnectionImpl.java
  javacord-core/src/main/java/org/javacord/core/entity/channel/ServerVoiceChannelImpl.java
  javacord-core/src/main/java/org/javacord/core/util/gateway/AudioWebSocketAdapter.java
Labels: audio, high priority

#485 ServerVoiceChannelMemberLeaveListener javadoc fix
  javacord-api/src/main/java/org/javacord/api/listener/channel/server/voice/ServerVoiceChannelMemberLeaveListener.java
Labels: low priority
